<!DOCTYPE html>
<html lang="en">

<%- include('partials/header') %>

<body>

<%- include('partials/nav') %>



    <!-- <section class="hero-wrap">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center">
        	<div class="col-lg-5">
            <div class="text mt-5 pt-5" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
              <span class="subheading">Welcome to Academia</span>
              <h1 class="mb-4">Best Online Education Expertise </h1>
              <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
              <p><a href="#" class="btn btn-primary p-4 py-3">Get Started Now! <span class="ion-ios-arrow-round-forward"></span></a> <a href="#" class="btn btn-white p-4 py-3">View Course <span class="ion-ios-arrow-round-forward"></span></a></p>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <section class="ftco-section ftco-no-pt ftco-no-pb">
      <div class="container-xl">
        <div class="row g-xl-5">
          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
            <div class="img w-100" style="background-image: url(/images/about.jpg);">
            <!-- <div class="img w-100" style="background-image: url('/images/bg_1.jpg');"> -->
            </div>
          </div>
          <div class="col-md-6 heading-section d-flex align-items-center" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
            <div class="mt-0 my-lg-5 py-5">
              <span class="subheading">Write Anything</span>
              <h2 class="mb-2">Your Notes</h2>
              <form action="/home" method="get" id="contactForm" name="contactForm" class="contactForm">

                <% if(Msg){%>
                  <p class="alert alert-warning"><%= Msg %></p>
                <%} %>

                <ul>
                <% if(Notes && Notes.length >0){%>
                  <% Notes.forEach(Note => { %>

                <div class="row mt-4 g-lg-2">
                  <div class="col-lg-12 d-flex align-items-stretch services-wrap">
                    <div class="services d-flex">
                      <div class="icon"><span class="flaticon-online-learning"></span></div>
                      <div class="text">
                        <a href="/home/getSingleNote/<%= Note._id %>"><h2><%= Note.Title %></h2></a>
                        <p class="mb-0"><%= Note.Content %></p>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <% }); %>
             <% }else{%>
                <p>No Notes to display, Create Note!</p>
              <%} %>
            </ul>
              </form>
            </div>
          </div>
        </div>
      </div>


              <section class="ftco-intro py-5 bg-primary">
                <div class="container">
                  <div class="row d-flex justify-content-center">
                    <div class="col-lg-10">
                      <div class="row g-lg-5">
                        <div class="col-md-7 text-lg-right">
                          <h2 class="mb-0">NOTEIT - Stay tune and connect with your Thoughts</h2>
                          <p>Far far away, behind the word mountains</p>
                        </div>
                        <div class="col-md-5 border-left d-flex align-items-center">
                          <!-- <form action="#" class="subscribe-form">
                            <div class="form-group d-flex align-items-center">
                              <input type="text" class="form-control" placeholder="Enter email address">
                              <a href="#" class="btn-icon"><span class="fa fa-paper-plane"></span></a>
                            </div>
                          </form> -->
                          <p> <a href="/auth/login/logout" class="btn btn-white p-4 py-3">Logout <span class="ion-ios-arrow-round-forward"></span></a></p>
                         

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

<%- include('partials/footer') %>
             

     
     <script src="js/bootstrap.bundle.min.js"></script>
     <script src="js/tiny-slider.js"></script>
     <script src="js/glightbox.min.js"></script>
     <script src="js/aos.js"></script>
     <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&amp;sensor=false"></script>
     <script src="js/google-map.js"></script>
     <script src="js/main.js"></script>

     <!-- Global site tag (gtag.js) - Google Analytics -->
     <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
     <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-23581568-13');
    </script>
    
  <script defer src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon='{"rayId":"8ff518f71a0b7765","version":"2024.10.5","serverTiming":{"name":{"cfExtPri":true,"cfL4":true,"cfSpeedBrain":true,"cfCacheStatus":true}},"token":"cd0b4b3a733644fc843ef0b185f98241","b":1}' crossorigin="anonymous"></script>
</body>
  
<!-- Mirrored from preview.colorlib.com/theme/academia/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 09 Jan 2025 14:27:01 GMT -->
</html>