
<!DOCTYPE html>
<html lang="en">

<%- include('partials/header') %>
<body>
    <%- include('partials/nav') %>

    <section class="ftco-section bg-light">
      <div class="container">
        <div class="row no-gutters justify-content-center">
          <div class="col-md-12">
            <div class="wrapper">
              <div class="row g-0">
                <!-- <div class="col-lg-6 order-lg-first"></div> -->

                <div class="col-lg-6 order-lg-last">

                  <div class="contact-wrap w-100 p-md-5 p-4">
                    <h3>Update Note</h3>
                    <p class="mb-4">Journal Your Thoughts </p>
                    
                    <% if (Msg) { %>
                      <small class="text-danger"><%= Msg %></small>
                    <% } %>
                    
                    <form action="/home/updateNote/<%= updateNote._id  %>" method="post" id="contactForm" name="contactForm" class="contactForm">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="form-group">
                            <input type="text" class="form-control"  name="Title" id="name" value="<%= updateNote.Title  %>" placeholder="Title">
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <textarea name="Content" class="form-control" id="message" cols="30" rows="4" placeholder="Create a message here"><%= updateNote.Content  %></textarea>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <input type="submit" value="Update Note" class="btn btn-primary">
                            <div class="submitting"></div>
                          </div>
                        </div>
                      </div>
                    </form>
                    <div class="w-100 social-media mt-5">
                      <h3>Follow us here</h3>
                      <p>
                        <a href="#">Facebook</a>
                        <a href="#">Twitter</a>
                        <a href="#">Instagram</a>
                        <a href="#">Dribbble</a>
                      </p>
                    </div>
                  </div>
                </div>


                
                <!-- <div class="col-lg-6 d-flex align-items-stretch" style="background-image: url('/images/bg_1.jpg')"> -->
                <div class="col-lg-6 d-flex align-items-stretch" style="background: url('/images/bg_1.jpg') no-repeat center center/cover;">

                  <!-- <div id="m" ></div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> 

    <section class="ftco-intro py-5 bg-primary">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-10">
            <div class="row g-lg-5">
              <div class="col-md-7 text-lg-right">
                <h2 class="mb-0">Newsletter - Stay tune and get the latest update</h2>
                <p>Far far away, behind the word mountains</p>
              </div>
              <div class="col-md-5 border-left d-flex align-items-center">
                <form action="#" class="subscribe-form">
                  <div class="form-group d-flex align-items-center">
                    <input type="text" class="form-control" placeholder="Enter email address">
                    <a href="#" class="btn-icon"><span class="fa fa-paper-plane"></span></a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('partials/footer') %>


<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/tiny-slider.js"></script>
<script src="js/glightbox.min.js"></script>
<script src="js/aos.js"></script>
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&amp;sensor=false"></script> -->
<script src="js/google-map.js"></script>
<script src="js/main.js"></script>

</body>

</html>